$headerHeight = 16u

.root
  background-color white
  z-index 2
  padding 4u 2u
  border-bottom-width 1px
  border-bottom-color rgba(black, 0.05)
  position absolute
  width 100%
  display block
  +tablet()
    padding 4u 3u
  +wide()
    padding 0 20u

.headerSpace
  height 12u

.logo
  justify-content center
  width 15u
  height 4u

.body
  flex 1

.buttons
  flex-direction row

.button
  margin-left 2u
  border none 
  &.burger
    border 1px solid grey 
    padding 4px
    border-radius 0
  &.first
    margin-left 0

.header
    height 100%
    width 100%

.topHeader
    flex 0 0
    flex-basis 100%
    justify-content space-between
    flex-direction row
    align-items center
