.closeButton
    position absolute
    top 1u
    right 1u
    align-self flex-end
    z-index 2
    width auto
    border none

.root
    padding 4u 2u
    justify-content center
    height 100%
    background white
    overflow scroll
    width 30%
    max-width 60u
    margin-left auto

.title
    font-weight 600
    font-size 3u
    color #4b4b4b
    margin-top 10u

.cards
    width 100%
    margin-top 2u

.card
    flex-direction row
    align-items flex-start
    justify-content space-between
    margin-top 4u
.cardImage
    width 10u
    height 10u
.cardInfo
    justify-content flex-start
    height 100%
    margin-left 2u
.cardName
    font-weight 800
.cardCommon
    margin-top 2u
    color red
.cardTrash
    margin-left 2u

.total
    border-top 1px solid #e3e3e3
    margin-top 6u
    padding-top 2u
    align-items flex-end

span
    color red

.buttons
    flex-direction row
    justify-content space-between
    margin-top 2u
.button
    flex 1
    &.last
        margin-left 2u
