.root
    background-color white
    border-radius 1u
    border 1px solid #DDDDDD
    width 100%
    text-align center
    +tablet()
        padding 0 5u

.icon
    width auto
    background-color none
    justify-content center
    align-items center

.text
    font-size 2u
    color grey
    line-height 5u
    &.secondary
        color white
    &.transparent
        color white