.root
    background-color white
    border 1px solid #DDDDDD
    text-align center
    justify-content center
    align-items center
    +tablet()
        padding 0 5u

.icon
    background-color white
    width auto
    background-color none
    justify-content center
    align-items center

.text
    font-size 2u
    color grey
    line-height 2u
    padding 2u 3u
    &.secondary
        color white
    &.transparent
        color white