.root
    margin-top 5u

.title
    font-size 2.5u
    color #6c6c6c
    font-weight 600

.body
    margin-top 4u
    flex-direction row 

.text
    font-size 2u
    font-weight 600
    color #888888
    margin-left 2u
    &.first
        margin-left 0