.root
    background-image url(/img/breadcrumb.jpg)
    background-size cover
    background-position 48% center
    padding 6u 2u
    margin 0 -2u
    +tablet()
        padding 12u 6u
        margin 0 -3u
    +wide()
        padding 16u 6u
        margin 0 -6u

.wrapper
    padding 0 2u
    +tablet()
        margin 0 4u
    +wide()
        margin 0 14u

.title
    font-size 4u
    text-transform capitalize
    font-weight bold
    color #585858

.slice
    padding 0 1u
.nav
    flex-direction row
    margin-top 2u
.navElem
    font-size 2u
    font-weight 600
    color #7c7c7c
    &.select
        color #585858