.nav
    height 0
    margin-top 0
    transition all 0.3s
    overflow scroll
    &.active
        margin-top 2u
        height 28u
    +wide()
        display none

.navElem, .subnavElem
    padding 2u
    background #f8f8f8
    border-top 1px solid #ddd
    cursor pointer

.navElem
    flex-direction row
    justify-content space-between

.navElemText
    font-weight bold
    color #666666

.subnavElem
    padding-left 4u
    color #444

.icon
    border none