.body
    margin-top 4u

.title
    font-size 2.5u
    color #6c6c6c
    font-weight 600
    margin-top 5u

.text,.ratePrice
    font-size 2u
    font-weight 600
    color #888888

.ratePrice
    font-size 1.5u


.rateCard
    margin-top 4u
    flex-direction row
    &.first
        margin-top 0

.rateInfo
    margin-left 2u
    justify-content space-between
    margin-bottom 2u

.rateImage
    width 11u
    height 11u