.root
  width 14u
  flex-direction row

.iconWrap
   margin-left 1u
   &.first
       margin-left 0
.icon
    stroke black
    stroke-width 50
    fill none
    &.active
        fill red
        stroke none