.body
    margin-top 4u
    flex-direction row

.title
    font-size 2.5u
    color #6c6c6c
    font-weight 600
    margin-top 5u

.text
    font-size 2u
    font-weight 600
    color #888888

.color
    border-radius 100%
    width 3u
    height 3u
    margin-left 2u
    &.first
        margin-left 0