.root
    margin-top 5u

.title
    font-size 2.5u
    color #6c6c6c
    font-weight 600

.body
    margin-top 4u


.category
    margin-top 3u
    flex-direction row
    justify-content space-between
    &.first
        margin-top 0

.text
    font-size 2u
    font-weight 600
    color #888888