.root
    margin-bottom 6u
    +wide()
        margin-top 8u

.sidebarTitle
    font-size 2.5u
    color #6c6c6c
    font-weight 600
    margin-top 4u

.widgetBody
    margin-top 3u

.searchInput
    flex-grow 1
    background #f1f1f1
    color #8e8d8d
    padding 2u

.searchIcon
    background #dedede
    padding 2u

.color
    border-radius 100%
    width 3u
    height 3u
    margin-left 2u
    &.first
        margin-left 0

.category
    margin-top 3u
    flex-direction row
    justify-content space-between
    &.first
        margin-top 0

.text
    font-size 2u
    font-weight 600
    color #888888

.sizeText
    font-size 2u
    font-weight 600
    color #888888
    margin-left 2u
    &.first
        margin-left 0

.rateCard
    margin-top 4u
    flex-direction row
    &.first
        margin-top 0

.rateInfo
    margin-left 2u

.rateImage
    width 11u
    height 11u

.sidebarSearch, .productSize, .productColor
    flex-direction row