.root
    margin-bottom 6u
    +wide()
        margin-top 8u

.sidebarTitle
    font-size 2.5u
    color #6c6c6c
    font-weight 600
    margin-top 5u

.widgetBody
    margin-top 4u

.searchInput
    flex-grow 1
    background #f1f1f1
    color #8e8d8d
    padding 2u

.searchIcon
    background #dedede
    padding 2u

.text
    font-size 2u
    font-weight 600
    color #888888

.sizeText
    font-size 2u
    font-weight 600
    color #888888
    margin-left 2u
    &.first
        margin-left 0

.sidebarSearch
    flex-direction row